let mapleader=','

set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set relativenumber


" Tab operation
nnoremap <C-L> gt
nnoremap <C-H> gT

" Move through wrapped lines
noremap j gj
noremap k gk

" Add jh for esc in insert mode
inoremap jh <Esc>
vnoremap jh <Esc>

nnoremap <Leader><space> :nohlsearch<CR>

nnoremap <Leader>fi :action SearchEverywhere<CR>
nnoremap <Leader><Leader>	 :action GotoFile<CR>

nnoremap <Leader>bq :action CloseActiveTab<CR>